.selected{
	color:green;
}

.error{
	color:red;
}

label.error{
	width: 250px;
	display: inherit;
	color: red;
}

th.header{
    cursor: pointer; 
    font-weight: bold;
    font-family: arial;
    color: white;
    background-repeat: no-repeat; 
    background-position: center left;
    background-color: #696969;
    padding-left: 2px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

th.headerSortUp{
    background-color: #3399FF; 
}

th.headerSortDown{
    background-color: #3399FF; 
}